<div class="page-header">
  <h1><%= @league.name %>  Stats</h1>
</div>

<%= line_chart @league.teams.map{|team|
  {:name => team.name, :data => team.series_scores} },
  {
    library: {
      yAxis: {
        min: 1000
      }
    }
  }%>

<h3>Team Standings</h3>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Scratch Pins</th>
      <th>High Game</th>
      <th>High Series</th>
    </tr>
  </thead>
  <tbody>
  <% @teams.each do |team| %>
    <% team_stats = team.stats %>
    <% unless team_stats.nil? %>
    <tr>
      <td><%= team.name %></td>
      <td><%= team_stats[:scratch_pins] %></td>
      <td><%= team_stats[:high_game].total %></td>
      <td><%= team_stats[:high_series_pins] %></td>
    </tr>
    <% end %>
  <% end %>
  </tbody>
</table>

<h3>Player Standings</h3>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Handicap</th>
      <th>Average</th>
      <th>High Game</th>
      <th>High Series</th>
      <th>Scratch Game</th>
      <th>Scratch Series</th>
    </tr>
  </thead>
  <tbody>
  <% @bowler_stats.each do |bowler| %>
    <tr>
      <td><%= bowler[:name] %></td>
      <td><%= bowler[:handicap] %></td>
      <td><%= bowler[:average] %></td>
      <td></td>
      <td></td>
      <td><%= bowler[:scratch_game] %></td>
      <td><%= bowler[:scratch_series] %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<h3>Weekly Summaries</h3>
<% @weeks.each do |week| %>
    <p><%= link_to "Week #{week}", week_league_path(:id => @league, :week => week) %></p>
<% end %>
