<%= form_for @bowler, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="form-group">
    <%= f.label :first_name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :first_name, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :last_name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :last_name, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :email, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :email, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :team_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.collection_select :team_id, @teams, :id, :name, {:prompt => true}, {:class => 'form-control'} %>
    </div>
  </div>

  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            bowlers_path, :class => 'btn btn-default' %>
<% end %>
