<%= nested_form_for series, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="form-group">
    <%= f.label :bowler_id, :class => 'col-sm-2 control-label' %>
    <div class="col-sm-4">
      <%= f.collection_select :bowler_id, Bowler.all, :id, :short_name, {:prompt => true}, {:class => 'form-control'} %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :league_id, :class => 'col-sm-2 control-label' %>
    <div class="col-sm-4">
      <%= f.collection_select :league_id, League.order(:start_date), :id, :to_s, {:include_blank => true}, {:class => 'form-control'} %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :team_id, :class => 'col-sm-2 control-label' %>
    <div class="col-sm-4">
      <%= f.grouped_collection_select :team_id, League.order(:start_date).includes(:teams), :teams, :to_s, :id, :name, {:include_blank => true}, {:class => 'form-control'} %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :week, :class => 'col-sm-2 control-label' %>
    <div class="col-sm-2">
      <%= f.number_field :week, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :date, :class => 'col-sm-2 control-label' %>
    <div class="col-sm-2">
      <%= f.text_field :date, :class => 'form-control', :data => {:provide => 'datepicker', 'date-format' => 'yyyy-mm-dd', 'date-autoclose' => true, 'date-todayHighlight' => true}  %>
    </div>
  </div>

  <%= f.fields_for :scores %>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            series_index_path, :class => 'btn btn-default' %>
    </div>
  </div>
<% end %>
